@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:300,700);

/* Page Design */
body { background-color: #fff; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; color: #444; font-size: 15px; line-height: 18px; font-weight: 300; }
header { margin: 0; background: #000 url(banner.jpg) no-repeat 0 0; height: 65px; padding: 1px; }
article { margin: 10px 30px; }
h1 { font-family: 'Titillium Web', sans-serif; font-size: 2.3em; line-height: 44px; text-transform: uppercase; color: #fff; font-weight: 900; margin: 0; padding: 20px 0 0 30px; letter-spacing: 2px; }
h2 { margin: 20px 0 10px 0; font-size: 1.4; font-weight: 900; }
p { margin: 0 0 5px 0; }


/* Table Styles */
table#planets{
	margin:20px 0 0 0;
	border-collapse: collapse;
	border-spacing: 0;
	background: #000 url(planet.png) no-repeat top center;
	color: #fff;
}

table#planets th,table#planets td{
	text-align: center;
}

table#planets thead{
	font-size: .8em;
	line-height: 12px;
	background-color: #e79300;
	text-transform: uppercase;
}

table#planets thead th{
	color: rgba(0,0,0,.7);
	padding: 8px;
	vertical-align: bottom;
}

table#planets thead th:nth-child(1){
	width: 20%;
}
table#planets thead th:nth-child(2){
	width: 30%;
}
table#planets thead th:nth-child(3){
	width: 35%;
}
table#planets thead th:nth-child(4){
	width:15%;
}
table#planets tbody{
	font-size: .9em;
	line-height: 15px;
}
table#planets tbody tr{
	border-top: 1px solid rgba(248,220,174,.8);
}
table#planets tbody td{
	padding: 12px;
}

table#planets tfoot{
	font-size: .8em;
}
table#planets tfoot tr{
	border-top:2px solid;
}




/* Media Queries */
@media screen and (max-width: 400px) {
	h1 { font-size: 34px; line-height: 36px; padding-left: 15px; }
	article { margin: 10px 15px; }
	table#planets { font-size: .9em; }
}
